header {
  height: var(--nav-height);
  background: transparent;
  transform: translateY(0px);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid #fff;
  transition: all .3s;
}

/* header and nav layout */
header .nav-wrapper {
  /* background-color: var(--background-color); */
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  /* margin: auto; */
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 600px) {
  header nav {
    margin: 0;
    padding: 0 1rem;
  }
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
  font-weight: 650;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
  transform: scale(0.9);
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: flex;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections > div > ul > li {
  font-weight: 700;
  padding-top: 44px;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
    height: var(--nav-height);
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 52px;
    right: 1.3vw;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections > div > ul {
    display: flex;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;

    /* font-weight: 500; */
    font: 700 16px 'Open Sans',sans-serif;
    color: #fff;
    padding-right: 2vw;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

.nav-brand p {
  display: flex;
  align-items: center;
  justify-content: center;

  /* padding: 1rem; */
}

.scrolled {
  background: rgb(181 68 37); /* Orange background when scrolled */
}

#nav > div.section.nav-tools > div > p.button-container > a {
  background-color: transparent;
  color: white;
}

header .nav-wrapper {
  height: 100%;
}

header .nav-search {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: white;
  font: 600 18px 'open sans',sans-serif;
  margin-right: 4vw;
}

header .nav-search-icon {
  margin-right: 20px;
}

header .nav-language {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: white;
  font: 400 18px 'open sans',sans-serif;
}

header .nav-language-icon {
  margin-left: 13px;
  margin-right: 15px;
}

header nav {
  height: 100%;
}

header .menuUL {
  position: fixed;
  right: 110px;
  top: 100%;
  margin: 0;
  z-index: 210;
  display: none;
  width: 1134.66px;
  padding-top: 27px;
}

header .nav-in{display:flex;flex-direction:column;position:absolute;top:27px;left:0;right:0;padding:0;background:#fff;border-top:10px solid transparent;box-shadow:0 5px 10px 0 rgb(0 0 0 / 10%)}
header .nav-content{width:100%;position:relative;display:flex;align-items:center;justify-content:center;padding:23px 39px 13px 49px;border-bottom:1px solid #bbb}
header .nav-content-in{position:relative;z-index:10;display:flex;justify-content:space-between;align-items:center;width:100%}
header .nav-page-title{font:400 16px 'Open Sans',sans-serif;margin:0;line-height:1}
header .nav-close{font:400 16px 'Open Sans',sans-serif!important;text-transform:capitalize!important;cursor:pointer}
header .nav-in-menu-wrap{width:100%;display:flex;align-items:flex-start;height: 505px; margin-top: 20px;}

header .nav-drop[aria-expanded="true"] .menuUL {
  display: block;
  height: auto; overflow-y: visible;
}

header .nav-sections strong > a:any-link:hover {
  text-decoration: none;
}

display-none {
  display: none;
}

header .nav-page-title{color:#B54425}
header .nav-close{color:#B54425!important}

header .nav-in-menu-wrap {
  width: 100%;

  /* margin: 40px 0 0; */
  display: flex;
  align-items: flex-start;
}

header .nav-in {
  border-color: #B54425;
}


header .nav-in-menu-wrap .tabs-list {
  float: left;
  gap: 8px;
  cursor: pointer;
  font: 400 32px Oswald,serif;
  border-right: 1px solid #bbb;
  width: 37%;
  min-width: 200px;
  padding: 0 0 0 39px;
}


header .nav-in-menu-wrap .tabs-list button {
  display: block;
  width: 100%;
  margin: 0;
  border-radius: 0;
  background-color: white;
  font-size: unset;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
  cursor: pointer;
  color: #000;
  position: relative;
}


header .nav-in-menu-wrap .tabs-list button[aria-selected="true"] {
  background-color: var(--light-color);
}


header .nav-in-menu-wrap .tabs-list button::after{content:'';position:absolute;right:15px;top:50%;transform:translateY(-50%);width:0;height:0;border-style:solid;border-width:9px 0 9px 9px;border-color:transparent; border-left-color: #595959;opacity: 0;}
header .nav-in-menu-wrap .tabs-list button::after{border-left-color: #B54425;}

header .nav-in-menu-wrap .tabs-list button[aria-selected="true"]::after {
  opacity: 1;
}

header .nav-in-menu-wrap .tabs-list button[aria-selected="true"] {
  border-bottom: 1px solid var(--background-color);

  /* background-color: var(--background-color); */
  cursor: pointer;
  color: #C54B2A;
  text-decoration: underline;
}



header .nav-in-menu-wrap .tabs-list button[aria-selected="false"]:hover,
header .nav-in-menu-wrap .tabs-list button[aria-selected="false"]:focus {
  background-color: var(--dark-color);
}

header .nav-in-menu-wrap .tabs-panel {
  margin-top: -1px;

  /* border: 1px solid var(--dark-color); */
  overflow: auto;
  padding: 0 4.5% 108px;
}

header .nav-in-menu-wrap .tabs-panel[aria-hidden="true"] {
  display: none;
}

header .nav-in-menu-wrap p {
  display: block;
  font: 400 32px Oswald,serif;
  color: #000;
  padding-right: 160px;
  cursor: pointer;
  transition: all 300ms;
  position: relative;
  margin-bottom: 30px;
}

header .nav-in-menu-wrap a {
  display: inline-block;
  font: 400 20px Oswald, serif;
  color: #000;
}

header .tabs-panel a:any-link {
  padding: 0;
  margin-bottom: 24px;
  font: normal 16px 'Open Sans',sans-serif;
  color: #000;
  text-decoration: underline;
}

header .tabs-panel ul {
  column-count: 2;
  column-gap: 60px;
}

header .tabs-panel {
  max-width: 60%;
}

header .tabs-panel ul > li > a {
  text-wrap: wrap;
}

header .nav-in-menu-wrap .tabs-tab[aria-selected="true"] > p {
  color: #C54B2A;
  text-decoration: underline;
}

header .nav-in-menu-wrap .tabs-tab a {
  font-weight: 400;
}

header .nav-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 29px 0 46px;
  border-top: 2px solid #000;
  height: 80px;

}

header .nav-bottom p {
  margin-top: 30px;
  font: normal 16px 'Open Sans',sans-serif;
  color: #000;
}

@media (width <= 1480px) {
  header nav a:any-link {
    text-wrap: pretty;
  }
}

#nav > div.section.nav-brand > div > p  picture:nth-child(1) {
  margin-left: 6px;
  margin-right: 20px;
}

#nav > div.section.nav-brand > div > p  picture:nth-child(2) {
  margin-right: 50px;
}

#nav > div.section.nav-sections {
  padding-left: 25px;
  padding-right: 15px;
}